.barnner-1{
    background-image: url(banner-apropos.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
.section3{
    height: 400px;
    position: relative;
    top:50px;
    background: #2B4558;
    
}
.section3 .copy{
    position: relative;
    top:150px;
    font-size: 13px;
    color: aliceblue;
}
@media(max-width:991px) {

    /* .section3 {
        text-align: center;
        position: relative;
        bottom: 200px;
        height: 500px;
    } */
 
}
@media (max-width:600px) {
   
    .section3{
        text-align: center;
        height: 800px;
        position: relative;
        top:80px;
        font-size: 10px;
        
    }
  

    }